.container {
  position: relative;
  width: 100%;
  /* background-color: rgb(171, 171, 166); */
  padding: 0.7rem 0;
  animation: changeColor 3s infinite alternate;
  overflow: hidden;
}

.container h3 {
  text-align: center;
  position: relative;
}

@keyframes changeColor {
  0% {
    background-color:  rgb(171, 171, 166);
  }
  100%{  background-color: rgb(231, 231, 9);}
}
