.greetingPopUp-enter {
  opacity: 0;
  transform: translateX(-500px);
}
.greetingPopUp-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 500ms, transform 500ms;
}

.greetingPopUp-exit {
  opacity: 1;
}
.greetingPopUp-exit-active {
  opacity: 0;
  transform: translateY(35rem);
  transition: opacity 1.5s 800ms, transform 1.5s 800ms;
}
